body {
    background-image: url(../img/chivalry-2-knight-sword-uhdpaper.com-4K-5.2175.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    background-color: gray;
}

header>img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;

}

a {
    text-decoration: none;
    color: black;
    margin: auto;
    display: flex;
    align-items: center;

}


a:hover {
    color: rgb(192, 192, 192);
    font-weight: bolder;
}

li {
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4%;
    padding: 4px;
}

li:hover {
    cursor: pointer;
    background-color: rgb(59, 59, 59);
    transition: .3s;

}

nav>ul {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin: auto;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 5px;
    background: linear-gradient(to right, rgba(255, 187, 0, 0.425), rgba(0, 0, 0, 0.452));
    ;
}

form>input {
    display: block;
    margin: 10px;
    background: transparent;
    border: none;
    color: black;
    outline: none;
    margin: auto;
    font-size: 1em;
}


.borderInput:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.452);
    color: rgb(252, 172, 0);
    transition: .5s;
    background-color: rgb(34, 32, 31);
}

.borderInput::after {
    content: "";
    display: flex;
    height: 4px;
    width: 50%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.func:hover {
    background-color: rgb(53, 53, 53);
    color: rgb(252, 172, 0);
    transition: .5s;
    cursor: pointer;
    border-radius: 10%;
    width: 9%;
    padding: 20px;
    border: 1px solid white;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

summary {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    font-size: 1.45em;
    width: 10%;
    height: auto;
    cursor: pointer;
}

summary:hover {
    background-color: rgb(252, 172, 0);
    width: 13%;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 30px 30px;
    justify-content: center;
    transition: .5s;
}

/*esto la muestra al pasar el raton*/
.borderInput:hover::after {
    /*se pone: "para hacer que salga de la izquierda"*/
    transform: scaleX(1);
}

.info-chiv-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 40%;
    transition: .5s;
    filter: opacity(0);
}

.info-chiv-container:hover {
    transition: .5s;
    background-repeat: no-repeat;
    filter: opacity(1);
}
.contenedor-chiv{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-chiv-text {
    color: #000000;
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../img/giphy.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    padding: 200px;
    
}
.inner-info-chiv-text{
    background-color: #00000054;
    color: aliceblue;
    border-radius: 10px 10px 10px;
    padding: 14px;
    box-shadow: 0 0 20px rgb(235, 127, 5);
}

#chiv-lore {
    width: 20%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgb(235, 127, 5);
    border-radius: 70%;
}

#resetButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}