h1,h2,h3,p{
    text-align: center;
}
.titulo{
    font-size: 10rem;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: contain;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	margin: 10px 0;
    
}

header{
    padding: 3rem;
}
textarea{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 20%;
}
.contenido-style{
    margin: auto;
    width: 100%;
    border-radius: 5px;
  
    
    
}
img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/*ANIMACIONES*/

.title {
	font-family: "Cairo";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
	line-height:2
}

/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}
.container-boton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

}
