.board{


  height: auto;
  width: auto;
  margin: auto;
  position: relative;
  border-radius: 75px;
  background: linear-gradient(145deg, #022508, #000000);
  box-shadow:  22px 22px 58px #000000,-22px -22px 58px #000000;
  
}
