.botones.parallax {
    background-image: url('https://static.actugaming.net/media/2023/08/granblue-fantasy-relink-screenshot-22-08-202301.jpg');
    background-size: cover;
    background-position: center;
}

/*VASERAGA*/
.weapon {
    width: 200%;
    margin: auto;
    display: flex;
    border-radius: 20%;
}

/**CTRL + K + u comentario al seleccionar, fuente: José Manuel García Muñoz* AKA lojnoe */
.vaseragaB {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    width: 8%;
}


.vaseragaB::before,
.vaseragaB::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(128, 52, 199, 0.8) 0%, rgba(89, 202, 216, 0) 70%);
    background-position: bottom;
    opacity: 0;
    border-radius: 10px;
    transition: opacity .3s ease, background-position .3s ease;

}

.vaseragaB::before {
    top: 0;
    left: 0;
}

.vaseragaB::after {
    bottom: 0;
    right: 0;
}

.vaseragaB:hover::before,
.vaseragaB:hover::after {
    opacity: 1;
    background-position: top;
}

.vaseragaInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #362654, #e2d9f5, #42375a, #5c2b6b);
    background-size: 800% 800%;

    -webkit-animation: FondoGradianteVaseraga 17s ease infinite;
    -moz-animation: FondoGradianteVaseraga 17s ease infinite;
    -o-animation: FondoGradianteVaseraga 17s ease infinite;
    animation: FondoGradianteVaseraga 17s ease infinite;
}

/*ANIMACIONVASERAGA*/
@-webkit-keyframes FondoGradianteVaseraga {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes FondoGradianteVaseraga {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes FondoGradianteVaseraga {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes FondoGradianteVaseraga {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/*VANE**/
.vaneB {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    width: 8%;
}

.vaneB::before,
.vaneB::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(240, 174, 51, 0.8) 0%, rgba(89, 202, 216, 0) 70%);
    background-position: bottom;
    opacity: 0;
    border-radius: 10px;
    transition: opacity .3s ease, background-position .3s ease;
}

.vaneB::before {
    top: 0;
    left: 0;
}

.vaneB::after {
    bottom: 0;
    right: 0;
}

.vaneB:hover::before,
.vaneB:hover::after {
    opacity: 1;
    background-position: top;
}

.VaneInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #9ac4c1, #f1e392, #ffffff, #c7520e);
    background-size: 800% 800%;

    -webkit-animation: FondoGradianteVane 17s ease infinite;
    -moz-animation: FondoGradianteVane 17s ease infinite;
    -o-animation: FondoGradianteVane 17s ease infinite;
    animation: FondoGradianteVane 17s ease infinite;
}

/*ANIMACIONVANE*/
@-webkit-keyframes FondoGradianteVane {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes FondoGradianteVane {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes FondoGradianteVane {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes FondoGradianteVane {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


/**KATALINA */

.KatalinaB {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    width: 8%;
}

.KatalinaB::before,
.KatalinaB::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(2, 161, 253, 0.8) 0%, rgba(89, 201, 216, 0) 70%);
    background-position: bottom;
    opacity: 0;
    border-radius: 10px;
    transition: opacity .3s ease, background-position .3s ease;
}

.KatalinaB::before {
    top: 0;
    left: 0;
}

.KatalinaB::after {
    bottom: 0;
    right: 0;
}

.KatalinaB:hover::before,
.KatalinaB:hover::after {
    opacity: 1;
    background-position: top;
}

.KataInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #9ac4c1, #121957, #dfdfdf, #9dcacc);
    background-size: 800% 800%;

    -webkit-animation: FondoGradianteVane 17s ease infinite;
    -moz-animation: FondoGradianteVane 17s ease infinite;
    -o-animation: FondoGradianteVane 17s ease infinite;
    animation: FondoGradianteVane 17s ease infinite;
}

/*ANIMACIONKATA*/
@-webkit-keyframes FondoGradianteKatalina {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes FondoGradianteKatalina {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes FondoGradianteKatalina {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes FondoGradianteKatalina {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/**PERCIVAL */
.PercivalB {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    width: 8%;
}

.PercivalB::before,
.PercivalB::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.8) 0%, rgba(89, 201, 216, 0) 70%);
    background-position: bottom;
    opacity: 0;
    border-radius: 10px;
    transition: opacity .3s ease, background-position .3s ease;
}

.PercivalB::before {
    top: 0;
    left: 0;
}

.PercivalB::after {
    bottom: 0;
    right: 0;
}

.PercivalB:hover::before,
.PercivalB:hover::after {
    opacity: 1;
    background-position: top;
}

.PercivalInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #eb7f05, #c42b08, #e4d604, #f1d3b8);
    background-size: 800% 800%;

    -webkit-animation: FondoGradiantePercival 17s ease infinite;
    -moz-animation: FondoGradiantePercival 17s ease infinite;
    -o-animation: FondoGradiantePercival 17s ease infinite;
    animation: FondoGradiantePercival 17s ease infinite;
}

/*ANIMACIONPERCIVAL*/
@-webkit-keyframes FondoGradiantePercival {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes FondoGradiantePercival {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes FondoGradiantePercival {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes FondoGradiantePercival {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/**IO */
.IoB {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    width: 8%;
}

.IoB::before,
.IoB::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(242, 255, 0, 0.897) 0%, rgba(233, 234, 219, 0) 70%);
    background-position: bottom;
    opacity: 0;
    border-radius: 10px;
    transition: opacity .3s ease, background-position .3s ease;
}

.IoB::before {
    top: 0;
    left: 0;
}

.IoB::after {
    bottom: 0;
    right: 0;
}

.IoB:hover::before,
.IoB:hover::after {
    opacity: 1;
    background-position: top;
}

.IoInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #f0d01d, #a2d7cb, #6bc9aa, #ecd5c1);
    background-size: 800% 800%;

    -webkit-animation: FondoGradianteIo 17s ease infinite;
    -moz-animation: FondoGradianteIo 17s ease infinite;
    -o-animation: FondoGradianteIo 17s ease infinite;
    animation: FondoGradianteIo 17s ease infinite;
}

/*ANIMACIONIO*/
@-webkit-keyframes FondoGradianteIo {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes FondoGradianteIo {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes FondoGradianteIo {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes FondoGradianteIo {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/**YODARHA */
.YodarhaB {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    width: 8%;
}

.YodarhaB::before,
.YodarhaB::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 255, 132, 0.8) 0%, rgba(89, 201, 216, 0) 70%);
    background-position: bottom;
    opacity: 0;
    border-radius: 10px;
    transition: opacity .3s ease, background-position .3s ease;
}

.YodarhaB::before {
    top: 0;
    left: 0;
}

.YodarhaB::after {
    bottom: 0;
    right: 0;
}

.YodarhaB:hover::before,
.YodarhaB:hover::after {
    opacity: 1;
    background-position: top;
}

.YodarhaInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #996a29, #a2d7cb, #c609099f, #59eda3);
    background-size: 800% 800%;

    -webkit-animation: FondoGradianteYodarha 17s ease infinite;
    -moz-animation: FondoGradianteYodarha 17s ease infinite;
    -o-animation: FondoGradianteYodarha 17s ease infinite;
    animation: FondoGradianteYodarha 17s ease infinite;
}

/*ANIMACIONYODARHA*/

@-webkit-keyframes FondoGradianteYodarha {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes FondoGradianteYodarha {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes FondoGradianteYodarha {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes FondoGradianteYodarha {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/**RACKAM */
.RackamB {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    width: 8%;
}

.RackamB::before,
.RackamB::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 255, 132, 0.8) 0%, rgba(89, 201, 216, 0) 70%);
    background-position: bottom;
    opacity: 0;
    border-radius: 10px;
    transition: opacity .3s ease, background-position .3s ease;
}

.RackamB::before {
    top: 0;
    left: 0;
}

.RackamB::after {
    bottom: 0;
    right: 0;
}

.RackamB:hover::before,
.RackamB:hover::after {
    opacity: 1;
    background-position: top;
}

.RackamInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #996a29, #a2d7cb, #c609099f, #59eda3);
    background-size: 800% 800%;

    -webkit-animation: FondoGradianteRackam 17s ease infinite;
    -moz-animation: FondoGradianteRackam 17s ease infinite;
    -o-animation: FondoGradianteRackam 17s ease infinite;
    animation: FondoGradianteRackam 17s ease infinite;
}

/*ANIMACIONRACKAM*/

@-webkit-keyframes FondoGradianteRackam {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes FondoGradianteRackam {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes FondoGradianteRackam {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes FondoGradianteRackam {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/**EUGEN*/
.EugenB {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    width: 8%;
}

.EugenB::before,
.EugenB::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 255, 132, 0.8) 0%, rgba(89, 201, 216, 0) 70%);
    background-position: bottom;
    opacity: 0;
    border-radius: 10px;
    transition: opacity .3s ease, background-position .3s ease;
}

.EugenB::before {
    top: 0;
    left: 0;
}

.EugenB::after {
    bottom: 0;
    right: 0;
}

.EugenB:hover::before,
.EugenB:hover::after {
    opacity: 1;
    background-position: top;
}

.EugenInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #996a29, #a2d7cb, #c609099f, #59eda3);
    background-size: 800% 800%;

    -webkit-animation: FondoGradianteEugen 17s ease infinite;
    -moz-animation: FondoGradianteEugen 17s ease infinite;
    -o-animation: FondoGradianteEugen 17s ease infinite;
    animation: FondoGradianteEugen 17s ease infinite;
}

/*ANIMACIONEUGEN*/

@-webkit-keyframes FondoGradianteEugen {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes FondoGradianteEugen {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes FondoGradianteEugen {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes FondoGradianteEugen {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/**SIEGFRIED */
.SiegfriedB {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    width: 8%;
}

.SiegfriedB::before,
.SiegfriedB::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 255, 132, 0.8) 0%, rgba(89, 201, 216, 0) 70%);
    background-position: bottom;
    opacity: 0;
    border-radius: 10px;
    transition: opacity .3s ease, background-position .3s ease;
}

.SiegfriedB::before {
    top: 0;
    left: 0;
}

.SiegfriedB::after {
    bottom: 0;
    right: 0;
}

.SiegfriedB:hover::before,
.SiegfriedB:hover::after {
    opacity: 1;
    background-position: top;
}

.SiegfriedInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #996a29, #a2d7cb, #c609099f, #59eda3);
    background-size: 800% 800%;

    -webkit-animation: FondoGradianteSiegfried 17s ease infinite;
    -moz-animation: FondoGradianteSiegfried 17s ease infinite;
    -o-animation: FondoGradianteSiegfried 17s ease infinite;
    animation: FondoGradianteSiegfried 17s ease infinite;
}

/*ANIMACIONSIEGFRIED*/

@-webkit-keyframes FondoGradianteSiegfried {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes FondoGradianteSiegfried {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes FondoGradianteSiegfried {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes FondoGradianteSiegfried {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/**CHARLOTTA */
.CharlottaB {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    width: 8%;
}

.CharlottaB::before,
.CharlottaB::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 255, 132, 0.8) 0%, rgba(89, 201, 216, 0) 70%);
    background-position: bottom;
    opacity: 0;
    border-radius: 10px;
    transition: opacity .3s ease, background-position .3s ease;
}

.CharlottaB::before {
    top: 0;
    left: 0;
}

.CharlottaB::after {
    bottom: 0;
    right: 0;
}

.CharlottaB:hover::before,
.CharlottaB:hover::after {
    opacity: 1;
    background-position: top;
}

.CharlottaInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #996a29, #a2d7cb, #c609099f, #59eda3);
    background-size: 800% 800%;

    -webkit-animation: FondoGradianteCharlotta 17s ease infinite;
    -moz-animation: FondoGradianteCharlotta 17s ease infinite;
    -o-animation: FondoGradianteCharlotta 17s ease infinite;
    animation: FondoGradianteCharlotta 17s ease infinite;
}

/*ANIMACIONCHARLOTTA*/

@-webkit-keyframes FondoGradianteCharlotta {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes FondoGradianteCharlotta {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes FondoGradianteCharlotta {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes FondoGradianteCharlotta {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

