
html,body{
  margin: 0;
  padding: 0;
}
/*nav{
  background-color: black;
  color: aliceblue;
  width: 100%;
  
}*/
.foto{
    width: 1366px;
    height: 768px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
  
}
.foto>img{
  width: auto;
}

.txtVa{
  width: 50%;
  margin: auto;
  font-size: 1.9em;
}
.botones{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
tbody .grynoth{
  width: 50%;
  margin: auto;
  border: 1px solid white;
}
table, th, td{
  display: block;
  width: auto;
  margin: auto;
  border: 1px solid white;
}
.tdsVase{
  text-align: right;
}
/*.brd-img{
  border-image: fill 0 linear-gradient(#0003, #0000);
}*/
.gradiante {
  height: 900px;
  background: linear-gradient(219deg, #76d6db, #ffffff, #e3e2f2);
  background-size: 600% 600%;

  -webkit-animation: FondoGradiante 29s ease infinite;
  -moz-animation: FondoGradiante 29s ease infinite;
  -o-animation: FondoGradiante 29s ease infinite;
  animation: FondoGradiante 29s ease infinite;
}

@-webkit-keyframes FondoGradiante {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-moz-keyframes FondoGradiante {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-o-keyframes FondoGradiante {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@keyframes FondoGradiante {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}