/* Boton.css */

.boton-random {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    /* Color de fondo inicial */
    color: #4CAF50;
    /* Color del texto */
    padding: 1rem;
    width: 15%;
    margin: auto;
    position: relative;
    left: -60%;
    display: inline-flex;


    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #4CAF50;
    font-size: 1.5em;

    /* Transición de color de fondo al hacer hover */
}

.boton-random:hover {
    color: #000000;
    background-color: #4CAF50;
    /* Nuevo color de fondo al hacer hover */
    box-shadow: 0 0 400px #4CAF50;
    /* Sombra al hacer hover */
}

.container-cards {
    display: inline-block;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    margin-top: 50%;
}

.carta {
    margin: auto;
    position: relative;
    left: 500px;
    overflow: hidden;
    display: inline-flex;
}

.container-description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    
}
.descripcion {
    position: relative;
    top: -300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width:10px;
    margin: auto;
    color: #4CAF50;
    font-size: 3.5em;
}
.total{
    color: #4CAF50;
    text-align: center;
    margin: auto;
    font-size: 5em;
}

