/* Boton.css */

.boton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    /* Color de fondo inicial */
    color: #4CAF50;
    /* Color del texto */
    padding: 3rem;
    width: 40%;
    margin: 30%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #4CAF50;
    font-size: 2em;
    
    /* Transición de color de fondo al hacer hover */
}

h1 {
    text-align: center;
    color: #4CAF50;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    width: 40%;
    margin-top: 20%;
    margin: auto;
}

.boton:hover {
    color: #000000;
    background-color: #4CAF50;
    /* Nuevo color de fondo al hacer hover */
    box-shadow: 0 0 400px #4CAF50;
    /* Sombra al hacer hover */
}

.boton-on {
    opacity: 1;
    
}

.boton-off {
    opacity: 0;


}