.container {
    margin: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
}

body {
    background-color: black;
    background-image: url(../img/BERSERK.jpg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: bottom;

}

span {
    color: aliceblue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 20px;
}


.fondoHeader {
    position: absolute;
    width: 73.5%;
    z-index: -1;
    left: 13%;
    border-radius: 1%;
    filter: opacity(0.2);
    -webkit-box-shadow: inset -1px -25px 90px 100px rgba(0, 0, 0, 0.94);
    -moz-box-shadow: inset -1px -25px 90px 100px rgba(0, 0, 0, 0.94);
    box-shadow: inset -1px -25px 90px 100px rgba(0, 0, 0, 0.94);

}

.titulo {
    width: 50%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
}

section>span {
    font-size: 3vh;
}

h5 {
    text-align: center;
}

img{
    width: 40%;
}

footer {
    background-image: url(../img/giphy.gif);
    background-size: contain;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
}

.seccion1>img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
}

.seccion2>img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
}

.seccion3>img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
}

.seccion4>img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
}

.bordes:hover {
    border: 1px solid red;
    cursor: pointer;
    transition: .5s;
}

blockquote {
    color: wheat;
    width: 100%;
}

a {
    text-decoration: none;
}

/*BOTON*/

.btn41-43 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 7px;
}

.info{
    display: none;
}
.info--inner{
    display: block;
    color: aliceblue;
    font-size: auto;
    width: 100%;
    margin: auto;
}
.btn-41 {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
}

.btn-41:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.btn-41:hover {
    color: rgb(0, 0, 0);
}

.btn-41:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-41:active {
    top: 2px;
}



.seccionFondo {
    background-color: rgba(255, 77, 7, 0.219);
    padding: 20px;
    border-radius: 10px;
}

.seccionFondo:hover {
    transition: .5s ;
    background-color: rgb(70, 70, 70);
}