.lista{
    display: none;
}
.lista li:hover{
    transition: text-indent .3s ease-out;
    text-indent: 1.5em;
    color: rgb(252, 0, 0);
    font-size: 2em;
    cursor: pointer;
    animation: shine 2s ease-in-out ;
    
}
@keyframes shine {
    from{
        text-shadow: 0 0 30px #110303;
    }
    to{
        text-shadow: 0 0 810px #000000;
    }
}
span{
    cursor:default;
}