* {
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 4rem;
    color: #FF4500;
}

body {
    background-image: url(https://w.wallhaven.cc/full/l3/wallhaven-l3zey2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    color: #FF4500;

}
.fotos{
    width: 30%;
    margin: auto;
    height: auto;
    border-radius: 10px;
    background-color:#404040;
    border-radius: 10px;
    background: linear-gradient(145deg, #000000cc, #000000b7);
    box-shadow:  20px 20px 60px #000000,-20px -20px 60px #000000;
    

}

.titulos{
    font-size: 2.50em;
    color: #FFD700;
}

.container-contenido{
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1.50em;
    justify-content: center;
    flex-direction: column;
    color: #FF4500;
    padding: 2em;
    margin: auto;
    background-color:#404040;
    border-radius: 10px;
    background: linear-gradient(145deg, #000000cc, #000000b7);
    box-shadow:  20px 20px 60px #000000,-20px -20px 60px #000000;
}



a {
    margin-top: 6%;
    color: #FFD700;
    text-decoration: none;
    font-size: 2rem;
    transition: all .3s ease;
    cursor: pointer;
}

a:hover{
    background-color: #FFD700;
    color: black;
    border-radius: 10px;
    transition: all .3s ease;
    padding: 1em;
    cursor: pointer;
}


